div {
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: rgb(99, 184, 233);
  color: black;
}

.grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2vw;
}
.grid {
  font-size: 5vw;
  padding: 0.5em;
  text-align: center;
}

.grid-item {
  border: red;
}
.grid-item:hover {
  transform: scale(1.05);
  color: beige;
}
span {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 20%;
  font-size: 60px;
  background-color: transparent;
  color: rgb(0, 0, 0);
  font-weight: 900;
  font-style: oblique;
  text-decoration: solid;
}
img {
  object-fit: cover;
}

// Attempt for mobile-friendly styling
$breakpointIPhone: 390px;

@media screen and (max-width: $breakpointIPhone) {
  span {
    font-family: 'Roboto', sans-serif;
    position: static;
    font-style: normal;
  }
  body {
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    max-width: 400px;
    height: 845px;
    border: solid 1px gray;
    background: rgb(99, 184, 233);
    background: linear-gradient(
      0deg,
      rgba(99, 184, 233, 1) 0%,
      rgba(137, 207, 219, 1) 75%
    );
  }
  .navbar {
    display: flex;
    flex-direction: row;
    align-content: space-between;

    font-family: 'Roboto', sans-serif;
    line-height: 20px;
    font-size: 1.5em;
    font-weight: bold;
  }

  .navbtn {
    border: 1px solid #dadada;
    margin-right: 2em;
    margin-left: 1em;
    line-height: 20px;
    font-size: 0.7em;
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding: 1rem;
    background: rgb(76, 80, 80);
    margin: 1em;
    border-radius: 1rem;
  }
}
