div {
  text-align: center;

  justify-content: center;
  align-items: center;
  background-color: rgb(99, 184, 233);
  color: black;
}

.grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2vw;
}
.grid {
  font-size: 5vw;
  padding: 0.5em;
  text-align: center;
}

.grid-item {
  border: red;
}
.grid-item:hover {
  transform: scale(1.05);
  color: beige;
}
span {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 20%;
  font-size: 60px;
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-weight: 900;
  font-style: oblique;
  text-decoration: solid;
}
