.register-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  font-family: 'Roboto';
  color: black;
}
body {
  background-color: rgb(166, 175, 181);
  //background-color: rgb(99, 184, 233);
}
h2 {
  font-size: 60px;
  background-color: transparent;

  font-weight: 900;
  font-style: oblique;
  text-decoration: solid;
}
