h1 {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 20%;
  font-size: 60px;
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-weight: 900;
  font-style: oblique;
  text-decoration: solid;
}
.displayed-exercises {
  //
}
