// h1 {
//   position: absolute;
//   transform: translate(-50%, -50%);
//   left: 50%;
//   top: 20%;
//   font-size: 60px;
//   background-color: transparent;
//   color: rgb(255, 255, 255);
//   font-weight: 900;
//   font-style: oblique;
//   text-decoration: solid;
// }
// .displayed-exercises {
//   //
// }
.displayed-exercises {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 4em;
}

.displayed-exercises img {
  width: 80%;
  height: auto;
  //border-radius: 50%;
  border-radius: 3rem;
  object-fit: cover;
  margin-bottom: 1em;
}

h1 {
  font-size: 60px;
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-weight: 900;
  font-style: normal;
  text-decoration: solid;
  margin-top: 0.5em;
}

h3,
h5 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-bottom: 5%;
  font-weight: 900;
}

.delete-button {
  border: 1px solid #dadada;
  line-height: 15px;
  font-size: 1em;
  font-weight: 900;
  color: rgb(6, 5, 5);
  padding: 0.8rem;
  background: rgb(213, 61, 61);
  margin: 0rem 0rem 1rem 2rem;
  border-radius: 3rem;
  width: 20%;
}
