nav {
  background-color: rgb(172, 184, 203);
  font-size: 1.5em;
  display: flex;
  padding: 1em 3em 0em 3em;
  a,
  button {
    &:not(:last-child) {
      margin-right: 1em;
    }
    &:first-child {
      margin-right: auto;
    }
  }
}

.navbtn {
  border: 1px solid #dadada;
  line-height: 20px;
  font-size: 0.7em;
  font-weight: bold;
  color: rgb(255, 255, 255);
  padding: 1rem;
  background: rgb(76, 80, 80);
  margin-bottom: 1rem;
  border-radius: 1rem;
  //width: 20rem;
  //height: 2rem;
}

// .navbtn {
//   margin: 0.5rem;
//   width: 20rem;
//   height: 2rem;
//   border: none;
//   border-radius: 0.5rem;
//   background-color: #f8f8f8;
//   font-size: 1rem;
//   padding: 0.5rem;
// }

// .navbtn {
//   margin-top: 1em;
//   border-radius: 1em;
//   padding: 0.6em;
//   border: none;
//   color: white;
//   background-color: #3dc4fc;
// }
